---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% for post in posts %}
  <article>
    {% Title post.data.title %}
    {% excerpt post %}
    <footer><span>&nbsp;</span>
    <a href="{{ post.url | url }}"
       aria-label="Read more on {{ post.data.title }}">...</a>
    </footer>
  </article>
{% endfor %}
