---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% for post in posts %}
  <article>
    {% Title post.data.title %}
    <div>
      <a class="Excerpt" href="{{ post.url | url }}">{% excerpt post %} </a><a href="{{ post.url | url }}">+ {% remainingWords post %} more words</a>
    </div>
    <footer>&nbsp;</footer>
  </article>
{% endfor %}
