body {
  background-color: #fffcfc;
  margin: 0;
  display: flex;
  flex-flow: column;
}

main {
  margin-left: 8px;
  margin-right: 8px;
}

header h1 {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: black;
  color: white;
}

article {
  font-family: libre_baskervilleregular;
  line-height: 2;
  margin-top: 1em;
  font-size: 4vw;
}

@media (max-width: 450px) {
  article {
    font-size: 4vw;
  }
  h1 {
    font-size: 10vw;
  }
}

h1, time {
  font-family: ostrich_sansheavy;
}

.Time {
  display: flex;
  flex-flow: column;
  font-size: 33%;
  align-items: center;
  line-height: 1;
  margin-top: 0.4em;
}

.Time div:first-child {
  font-size: 118%;
}

h1 {
  font-size: 10vw;
  margin-top: 0em;
  margin-bottom: 0em;
}

article h1 {
  display: flex;
  flex-flow: row;
  align-items: start;
  line-height: 1;
}

article footer {
  flex-flow: row;
  align-items: end;
  border-bottom: 8px dotted black;
}

article a {
  color: black;
}

article > div {
  margin-top:1em;
}

.Excerpt {
  text-decoration: none;
}

.Token {
  display: flex;
  flex-flow: column;
  font-size: 15%;
  align-items: center;
  line-height: 1;
  margin-right: 0.75em;
  margin-top: 0.5em;
}

.Token div:first-child {
  font-size: 220%;
}

.Token div:last-child {
  font-size: 220%;
}

@media (min-width: 600px) {
  article {
    font-size: 1.5em;
  }
  h1 {
    font-size: 3.8em;
  }
  article h1 {
    font-size: 2.5em;
  }
}
